<!DOCTYPE html>
<html lang="en" ng-app="TodoApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo App | Lorin Steel</title>

    <!-- Includes all compiled css based bower components; i.e. bootstrap.css, main.css, etc. -->
    <link rel="stylesheet" href="css/app.min.css">
  </head>
  <body>
    <!-- Floating navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand" href="#">Todo App</span>
        </div>
      </div>
    </nav>

    <!-- Controller View Location -->
    <div class="container-fluid">
      <div ng-view></div>
    </div>

    <!-- Includes all compiled javascript based bower components; i.e. AngularJS, bootstrap.js, main.js, etc. -->
    <script src="js/app.min.js"></script>
  </body>
</html>
