// main: main.styl

///* Larger than mobile */
//@media (min-width: 400px)
  //html, body
    //font-size 5px

/* Larger than xsmall */
@media (min-width: 480px)
  html, body
    font-size 14px
  // .buttons-section .selector-container a .selector-left, .buttons-section .selector-container a .selector-right
  //   height 90px

/* Larger than small */
@media (min-width: 768px)
  //html, body
    //font-size 5px

/* Larger than medium */
@media (min-width: 992px)
  //html, body
    //font-size 5px

/* Larger than large */
@media (min-width: 1200px)
  //html, body
    //font-size 5px
